body {
    background-color: cadetblue;
}
div {
    margin: 60px auto;
    background-color: beige;
    border-top: 5px double green;
    border-bottom: 5px double green;
    color: darkgoldenrod;
    text-align: justify;
    padding-left: 17px;
    padding-right: 17px;
    font-family: sans-serif;
    font-size: 14px;
    overflow-y: scroll;
    width: 400px;
    height: 80px;
    text-indent: 15px;
    letter-spacing: 2px;
}
.box_2 {
    margin-top: -30px;
}
.box_3 {
    margin-top: -30px;
}
