.container {
	width: 490px;
	padding: 7px;
  margin: 10px auto;
	background-color: #464646;
}

p {
	display: block; 
	width: 100px;
	height: 30px;
	color: white;
	vertical-align: middle;
	text-align:center;
	position: relative;
	top: 33%;
	left: 16%;
}

.cell {
	display: inline-block;
  width: 150px;
	height: 150px;
	background-color: #272727;
	margin: 6px 4px;
}